:root {
    --contents-width: 600px;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* width: 100%; */
}

nav {
    position: fixed;
    /* border: 1px solid pink; */
    width: 100%;
    background-color: rgba(20, 20, 25, 1);
    z-index: 1;

}

nav .contents__width {
    max-width: 90%;
    margin: 0 auto;
    padding: 30px 0;
}

.nav__contents {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
}

/* .nav__contents .contents__width {
    border: 1px dashed white;
    max-width: 600px;
    margin-left: 0;
    margin-right: auto;

} */




.logo {
    font-size: 1.5rem;
    font-weight: 800;
    color: rgb(255, 217, 0);
}

nav .fa-solid {
    color: white;
    font-size: 1.5rem;
}

.menu {

    /* border: 1px solid pink; */
    display: none;
    list-style-type: none;
    /* display: flex; */

}

.menu li {
    padding: 0 20px;
    color: white;
    font-weight: lighter;
    font-size: 1rem;
    transition: all 150ms ease-in-out
}

.menu li:hover {
    color: rgb(255, 217, 0);
}

.banner {
    position: relative;
    /* position: absolute;
    top: 0; */
    background-image: url('https://learn.seytech.co/assets/projects/html-css/projects/1-agency/assets/img/header-bg.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 550px;
    /* z-index: -1; */
    color: white;
    text-align: center;
}

.banner__contents {
    position: absolute;
    /* border: 1px solid; */
    width: 100%;
    top: 35%;

    border: 1px solid pink;

}

/* In order to control max-width we need to have a div inside the contents */
.banner__contents .contents__width {
    border: 1px solid green;
    max-width: var(--contents-width);
    margin-left: auto;
    margin-right: auto;
}

.banner__contents .welcome {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
}

.banner__contents .title {
    padding: 20px 0;
    font-size: 3.5rem;
    font-weight: 600;
    /* color: aqua; */
    text-transform: uppercase;
}

.banner__contents button {
    background-color: rgb(255, 217, 0);
    color: white;
    border: none;
    outline: none;
    font-size: 1.3rem;
    margin: 20px;
    padding: 20px 30px;
    font-weight: 600;
    border-radius: 3px;
}

.banner__contents button:hover {
    background-color: rgb(202, 172, 1);
}



@media screen and (min-width:789px) {


    /* In order to control max-width we need to have a div inside the contents */
    .banner__contents .contents__width {
        border: 1px solid green;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    .banner__contents .welcome {

        font-size: 2.5rem;
        font-weight: 200;
    }

    .banner__contents .title {
        padding: 20px 0;
        font-size: 4.5rem;
        font-weight: 600;

    }

    nav .fa-solid {
        color: white;
        font-size: 1.5rem;
        display: none;
    }

    .menu {
        /* border: 1px solid pink; */
        /* display: none; */
        list-style-type: none;
        display: flex;
    }
}